body {
    background-color: rgb(175, 16, 53);
}

.my_custom-color-red {
    color: rgb(175, 16, 53);
}

.my_custom-border-red {
    border: 1px solid rgb(175, 16, 53);
}

form .my_custom-border-red {
    border: 2px solid rgb(175, 16, 53);
}


.my_custom-border-green {
    border: 1px solid #036165;
}

.my_custom-color-green {
    background-color: #036165;
}